{% extends 'flatpages/default.html' %}

{% load i18n %}

{% block content %}

{% if request.resolver_match.url_name == 'articles_create' %}
    <h1>{% trans "Write an Article" %}</h1>
{% elif request.resolver_match.url_name == 'news_create' %}
    <h1>{% trans "Create News" %}</h1>
{% elif request.resolver_match.url_name == 'articles_edit' %}
    <h1>{% trans "Edit Article" %}</h1>
{% elif request.resolver_match.url_name == 'news_edit' %}
    <h1>{% trans "News Update" %}</h1>
{% endif%}
<hr>

{% if form.non_field_errors %}
    {{ error }}
{% endif %}


<form action='' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value='{% trans "Save" %}'/>
</form>


{% endblock content %}