{% extends 'flatpages/default.html' %}

{% block content %}

{% if request.resolver_match.url_name == 'articles_create' %}
    <h1>Write an Article</h1>
{% elif request.resolver_match.url_name == 'news_create' %}
    <h1>Create News</h1>
{% elif request.resolver_match.url_name == 'articles_edit' %}
    <h1>Edit Article</h1>
{% elif request.resolver_match.url_name == 'news_edit' %}
    <h1>News Update</h1>
{% endif%}
<hr>

{% if form.non_field_errors %}
    {{ error }}
{% endif %}


<form action='' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save"/>
</form>


{% endblock content %}