{% extends 'flatpages/default.html' %}

{% load my_filters %}
{% load my_tags %}
{% load cache %}

{% block title %}
All News
{% endblock title %}


{% block content %}

    <h1> Hot News </h1>
    {% cache 60 counter %}
    <h4> News Amount: {{ paginator.count }} </h4>
    {% endcache %}
    <hr>

    {% cache 60 main_posts page_obj.number %}
    {% if news %}

        {% for post in news %}
            <h3>Title: {{ post.title|new_censor }}</h3>
            <h3>Publication date: {{ post.creation_time|date:'d M Y' }}</h3>
            <h3>{{ post.text|truncatewords:20|censor }}</h3>
            <br>
        {% endfor %}

    {% else %}

        <h2> There is no news... </h2>

    {% endif %}
    {% endcache %}


    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
